html{
    font-size: 10px;
}

a{text-decoration: none; color: black}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_space{
    padding-left: 2rem;
    padding-right: 2rem;
}

.navigation_icon{
    font-family: monospace;
    font-size: 2.5rem;
}

.font_complement_1{
    font-size: 4.5rem;
    font-family: Arial;
    color: yellowgreen;
    text-shadow: 0 0 10px white;
}

.complement_space{
    padding-left: 10rem;
    padding-right: 10rem;
}

.complement_space_2{
    padding-left: 2rem;
    padding-right: 2rem;
}

.font_complement_2{
    font-size: 2rem;
    font-family: Verdana, sans-serif;
}

.home_space_top {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 25px;
    width: 90%;
}

.home_first_half_1{
    width: 35%;
}

.home_second_half_1{
    width: 45%;
}
.home_first_second_half_space{
    width: 5%;
}

.home_first_half_2{
    width: 40%;
}

.home_second_half_2{
    width: 40%;
}

.body_home_1{
    height: 35rem;
}

.font_2{
    font-family: Verdana, sans-serif;
    font-size: 3.5rem;
    color: black;
}

.font_3{
    font-family: Verdana, sans-serif;
    font-size: 1.5rem;
    color: black;
}

.font_4{
    font-family: Verdana, sans-serif;
    font-size: 2rem;
    color: black;
}

.home_logo_1{
    width: 20rem;
}

.map_icon_home{
    font-size: 5rem;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.but-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.but-container .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 3rem;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 25%;
}

.but-container .btn:hover {
    background-color: black;
    color: white;
    
}

.choose_me{
    width: 40%;
}

.choose_me_below{
    width: 27%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.my_services{
    width: 80%;
    background-color: aquamarine;
    border-radius: 25px;
}

.third_box_1{
    width: 80%;
    background-color: aquamarine;
    border-radius: 25px;
}

.shop_location{
    width: 40rem;
}

.anish_below{
    width: 100%;
    background-color: aquamarine;
}

.anish_below_service_section{
    width: 90%;
    font-family: monospace;
    font-size: 2rem;
    color: black;
}

.bottom_hr{
    height:.1rem;
    border-width:0;
    width:90%;
    color:green;
    background-color:green
}

.anish_below_social{
    width: 90%;
}

.anish_transformation{
    width: 30%;
}

.home_transformation{
    width: 30rem;
}

.font_groome_with_anish{
    font-family: monospace;
    font-size: 3.5rem;
    color: black;
}

.groome_with_anish{
    width: 80%;
}

.below_social_logo{
    font-size: 3.5rem;
}

.anish_below_social_font{
    font-family: Verdana, sans-serif;
    font-size: 2rem;
    color: black;
}

.anish_below_social_font_1{
    font-family: Verdana, sans-serif;
    font-size: 1.5rem;
    color: black;
}

.anish_below_social_logo{
    font-family: Verdana, sans-serif;
    font-size: 2rem;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
}


.content {
    text-align: center;
    padding: 20px;
}

.thumbnail {
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

.overlay:active {
    display: flex;
}

.gallery_image_home{
    height: 40rem;
}

.my_photo_gallery{
    width: 82%;
    background-color: aquamarine;
    border-radius: 25px;
}

.my_discount{
    width: 60%;
    background-color: aquamarine;
    box-shadow: 0 0 10px red;
}

.discounts_offers{
    width: 100%;
}

.space_discount{
    width: 3%;
}

.gallery_images{
    width: 40%;
    background-color: aquamarine;
}

.gallery_images_1{
    width: 80%;
    background-color: aquamarine;
}

.gallery_image_gallery{
    height: 60rem;
}

.rajat_symbol{
    font-family: 'Brush Script MT', cursive;
    font-size: 2.5rem;
    color: #DE3163;
    padding-left: 1rem;
    padding-right: 1rem;
}

.my_service_table{
    width: 100%;
}

.height_sample{
    height: auto;
}

.social_links_instagram{
    font-family: monospace;
    font-size: 2rem;
    color: black;
}
















@media(max-width: 998px){
    .navigation{
        width: 35%;
    }

    .navigation_icon{
        font-size: 3rem;
    }
}








@media(max-width: 998px){
    html{
        font-size: 44%;
        }

}

@media(max-width: 768px){
    html{
        font-size: 28%;
        }

}





